.users-container {
    padding-left: 10%;
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    gap: 30px;
  }
  
  .user-card {
    width: 300px;
    background-color: #cf0d0d0d;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
  }

  .user-card:hover {
    transform: translateY(-10px);
  }
  
  .user-photo {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
  }
  
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    font-family: "Arial", sans-serif;
  }
  
  .user-info {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .card-body{
    background-color: #fff; /* Background color for the text section */
    width:100%;

  }
  .details-container {
    margin-top: 20px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 8px;
    font-family: "Arial", sans-serif; 
  }
  
  .detail-value {
    color: #555;
    font-family: "Arial", sans-serif; 
  }

  .user-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #afb9c4, #3498db); /* Apply linear gradient background */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -1;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .update-button {
    background-color: #3c9;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #f33;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  