.register-forms{
  padding-top: 10%;
 
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/free-photo/workplace-with-blue-office-supplies_23-2147843328.jpg?w=900&t=st=1688369023~exp=1688369623~hmac=f61f9c1aee2f3f76e013bade781477f77ab925663e8413b5f6f4b819ac421772");
}